@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$primary: #26374a;
$accent: #b3cae6;
$secondary: #2b4380;
$hover: #0535d2;
$text: hsl(209, 13%, 32%);
$sub-text: hsl(210, 13%, 42%);
$visited: #7834bc;
$danger: #d3080c;
$negative: #fff;
$dark: #000;
$border: #E5E5E5;


$xxl: 60px;
$xl: 32px;
$lg: 24px;
$md: 20px;
$sm: 18px;
$xs: 14px;

$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

ul,
li {
    list-style: none;
    color: $text;
}


a:link {
    color: $secondary;
    text-decoration: none;
}

a:visited {
    color: $visited;
}

a:hover,
a:active,
a:focus {
    color: $hover;
}

.titles {
    font-size: $xxl;
    margin: 20px 0;
    text-align: center;
}

.wrapper {
    width: 100%;
    background-color: $negative;
    box-shadow: 0 0 20px 10px transparentize($dark, 0.95);
    overflow-x: scroll;

    header {
        display: flex;
        padding: 80px 80px 0 0;
        width: 100%;
        position: absolute;
        align-items: center;

        h1 {
            margin-left: 40px;
        }
    }

    section {
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
    }

    
}

.labels, .deferred, .annual, .immediate {
    padding: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}

.labels, .deferred, .annual, .immediate {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 350px;
    justify-content: space-between;
    transition: all 0.2s ease;
    box-shadow: 10px 0 15px transparentize($dark, 0.95);
}

.deferred:hover, .annual:hover, .immediate:hover {
    box-shadow: 20px 0 20px transparentize($dark, 0.95);
    transform: translateX(-10px);
}

.labels h3, .deferred h4, .annual h4, .immediate h4 {
    align-self: flex-start;
}




.labels {
    position: absolute;
    z-index: 50;
    background-color: $negative;
}



.deferred {
    margin-left: 350px;
}

h2, h3, h4 {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text;
}

h1 {
    color: $text;
}

h2 {
    position: absolute;
    top: 0;
    color: $text;
}

h4 span {
    font-size: $xl;
}

h3 {
    align-self: center;
    z-index: 50;
}

h4 {
    align-self: center;
    color: $sub-text;
}

@media (max-width: 950px) {
    .wrapper {
        width: 100%;

        header {
            line-height: 30px;
        }

        section {
            margin-top: 250px;
        }

        .labels {
            width: 150px;
            height: 750px;
            padding-left: 10px;
            h3 {
                line-height: 18px;
                font-size: $sm;
                font-weight: $regular;
                padding-right: 5px;
            }
        }
        
        .deferred,
        .annual,
        .immediate {
            height: 750px;
        }

        .deferred {
            margin-left: 120px;
        }
    }
}

.card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .deferred-pension, .annual-pension, .immediate-pension {
        display: grid;
        grid: 160px 80px repeat(7, 50px) / repeat(2, 220px);
        gap: 20px;
        background-color: $negative;
        box-shadow: -10px 0 15px transparentize($dark, 0.95);
        padding-bottom: 20px;
        position: relative;
        transition: all 0.3s ease-out;
    }
    .deferred-pension:hover,
    .annual-pension:hover,
    .immediate-pension:hover {
        transform: translateX(-50px);
    }
}



@media (max-width: 920px) {
    .card {
        .deferred-pension, .annual-pension, .immediate-pension { 
            grid: 160px 80px repeat(7, 50px) / repeat(2, 180px);
        }
    }
}

h5, p {
    justify-self: flex-start;
    padding-left: 50px;
    padding-right: 50px;
}

h5 {
    font-size: $md;
    font-weight: $bold;
    align-self: flex-start;
    color: $primary;
}

h6 {
    font-size: $xl;
    font-weight: $black;
    grid-area: 1 / 1 / span 1 / span 2;
    box-shadow: 0 15px 30px transparentize($dark, 0.95);
    color: $primary;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}

p {
    font-size: $sm;
    letter-spacing: 1px;
    align-self: flex-end;
    color: $sub-text;
}

p span {
    font-size: $xl;
    font-weight: $bold;
    color: $sub-text;
}

h5:nth-of-type(1), p:nth-of-type(1) {
    grid-area: 2 / 1 / span 1 / span 2;

} 
h5:nth-of-type(2), p:nth-of-type(2) {
    grid-area: 3 / 1 / span 1 / span 2;
} 
h5:nth-of-type(3), p:nth-of-type(3) {
    grid-area: 4 / 1 / span 1 / span 2;
} 
h5:nth-of-type(4), p:nth-of-type(4) {
    grid-area: 5 / 1 / span 1 / span 2;
} 
h5:nth-of-type(5), p:nth-of-type(5) {
    grid-area: 6 / 1 / span 1 / span 2;
} 
h5:nth-of-type(6), p:nth-of-type(6) {
    grid-area: 7 / 1 / span 1 / span 2;
} 
h5:nth-of-type(7), p:nth-of-type(7) {
    grid-area: 8 / 1 / span 1 / span 2;
} 
h5:nth-of-type(8), p:nth-of-type(8) {
    grid-area: 9 / 1 / span 1 / span 2;
}

